<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario-usuarios</title>
        <link rel="stylesheet" href="css/style1.css">
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" href="css/style3.css">
    </head>
    <body>
        <main class="main">

            <section class="box">
                <h1>Crear Usuario</h1>
                <form id="registroForm" >
                    <label for="nombredelusuario">Nombre de usuario</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                    <span id="nombreError" class="error"></span>
    
                    <label for="password">Contrase単a</label>
                    <input type="password" id="password" name="password" placeholder="contrase単a">
                    <span id="passwordError" class="error"></span>
    
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="email">
                    <span id="emailError" class="error"></span>
    
                    <input type="submit" value="Iniciar sesion">
                    <input type="reset" id="reset" value="limpiar">
                </form>
            </section>
    
            <section class="box">
                <h1>Buscar Usuarios</h1>
                <form id="buscarUsuario" method="get" action="/buscar-usuario" >
                    <label for="nombredelusuario">Busca por tu nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Jhon Jairo">
                    <span id="nombreError" class="error"></span>
                    <input type="submit" value="Buscar">
                </form>

                <div id="OcultarMostrar" class="form-content noVisible">
                    <label for="email">Email</label>
                    <input type="text" id="mostrarEmail" name="email" placeholder="email">
                    <span id="emailError" class="error"></span>

                    <label for="password">Contrase単a</label>
                    <input type="text" id="mostrarPassword" name="password" placeholder="contrase単a">
                    <span id="passwordError" class="error"></span>
    
                    
                </div>
                
            </section>
        </main>



        <script src="js/main.js"></script>

        <script>
            document.getElementById('buscarUsuario').addEventListener('submit', async function(event) {
                event.preventDefault();
    
                const buscarForm = document.getElementById('buscarUsuario');
                let buscarUsuario = new FormData(buscarForm);
                let valorBuscar = buscarUsuario.get("nombre")
                console.log("hola 1",buscarUsuario.get("email"));
                
                if (!buscarUsuario) return alert('El nombre es obligatorio');
    
                const response = await fetch(`/buscar-usuario?nombre=${valorBuscar}`);
                const data = await response.json();
                console.log(response);
                
                console.log("55555");
                if (data.success) {
                    console.log(data);
                    
                    document.getElementById('mostrarEmail').value = data.usuario.email;
                    document.getElementById('mostrarPassword').value = data.usuario.password;
                    document.getElementById('OcultarMostrar').classList.remove("noVisible")
                    
                } else {
                    alert(data.message || 'Usuario no encontrado');
                    document.getElementById('OcultarMostrar').classList.add("noVisible")
                }
            });
            
        </script>
    </body>
</html>